<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./style-login.css">
  <script defer src="https://kit.fontawesome.com/c9fac3fcec.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">LOGIN</h1>
                <form method="post" action="login">
                    <input type="text" placeholder="USERNAME" name="username"/>
                    <input type="password" placeholder="PASSWORD" 
                    name="password" />
                    <button class="opacity">SUBMIT</button>
                </form>
                <div>Don't have an account?
                    <a href="register" class="createWallet">REGISTER</a><br><br>
                </div>
                <a href="/" class = "createWallet">Go Back</a>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
        <% if(messages.error) { %>
            <div id="toastbox" class="toast-error">
              
                <% messages.error.forEach(function(error) { %>
                    <i class="fa-solid fa-circle-xmark"></i>
                  <h4><%= 
                    error %></h4>
                  <% }); %>
              
            </div>
            <% } else if(messages.success) { %>
              <div id="toastbox" class="toast-success">
                
                  <% messages.success.forEach(function(success) { %>
                    <i class="fa-solid fa-circle-check"></i>
                    <h4><%= success %></h4>
                    <% }); %>
                
              </div>
              <% } else if(messages.invalid) { %>
                <div id="toastbox" class="toast-invalid">
                
                    <% messages.invalid.forEach(function(invalid) { %>
                        <i class="fa-solid fa-circle-exclamation"></i>
                      <h4><%= invalid %></h4>
                      <% }); %>
                  
                </div>
                <% } %>

    </section>
</body>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
