<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>transaction</title>
  <link rel="stylesheet" href="./style-login.css">
  <script defer src="https://kit.fontawesome.com/c9fac3fcec.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <section class="container">
        <div class="login-container transact">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">
                  <span class="bit">
                   Bit<i>Pay</i>
                  </span></h1>
                <form action="transactions" method="post">
                    <input type="email" id="senderid" placeholder="SENDER'S USERNAME" name="ud1"/>
                    <input type="text" id="sendername" placeholder="SENDER'S NAME" name="sendername"/>
                    <input type="email" id="recepientid" placeholder="RECEPIENT'S USERNAME" name="ud2"/>
                    <input type="text" id="recepientname" placeholder="RECEPIENT'S NAME" name="recepientname"/>
                    <input type="date" id="date" placeholder="DATE" name="date"/>
                    <input type="text" id="amount" placeholder="AMOUNT" name="amount"/>
                    <input type="password" id="pin" placeholder="ENTER YOUR PIN" name="pin"/>
                    <button class="opacity transacts" type="submit">TRANSACT</button>
                </form>
                <a href="/" class ="createWallet">Go Back</a>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>

        <% if(messages.error) { %>
            <div id="toastbox" class="toast-error">
              
                <% messages.error.forEach(function(error) { %>
                    <i class="fa-solid fa-circle-xmark"></i>
                  <h4><%= 
                    error %></h4>
                  <% }); %>
              
            </div>
            <% } else if(messages.success) { %>
              <div id="toastbox" class="toast-success">
                
                  <% messages.success.forEach(function(success) { %>
                    <i class="fa-solid fa-circle-check"></i>
                    <h4><%= success %></h4>
                    <% }); %>
                
              </div>
              <% } %>
        
    </section>
</body>
<!-- partial -->
  <script defer src="./script.js"></script>

</body>
</html>
